<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="js/network.js"></script>
    </head>
    <body>
        <section id="react-app"></section>
        <script id="initial-state" type="application/json"><%- initialState %></script>
        <script src="js/bundle.js"></script>
    </body>
</html>
